# You can get all the keys after you create a Firebase project, and then a
# Firebase Web application within it. Just follow the video in firebase.js if
# you need guidance.

REACT_APP_FIREBASE_API_KEY="Firebase application API key"
REACT_APP_FIREBASE_AUTH_DOMAIN="Firebase application auth domain"
REACT_APP_FIREBASE_PROJECT_ID="Firebase application project ID"
REACT_APP_FIREBASE_STORAGE_BUCKET="Firebase application storage bucket"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="Firebase application messaging sender ID"
REACT_APP_FIREBASE_APP_ID="Firebase application app ID"
