# Keys for AWS, DynamoDB and Algolia

ITEMS_TABLE_NAME="DynamoDB items table name"
RENT_HISTORY_TABLE_NAME="DynamoDB table name for user's renting history"
AWS_ACCOUNT_ACCESS_KEY_ID="The access key ID of your AWS account"
AWS_ACCOUNT_SECRET_ACCESS_KEY="The secret access key of your root AWS account"
AWS_ACCOUNT_REGION="The region where you want your tables to be created"
ALGOLIA_ADMIN_KEY="Admin key for the Algolia application"
ALGOLIA_APP_ID="Algolia application ID"