# Keys for AWS, DynamoDB and Algolia

AWS_ACCOUNT_ACCESS_KEY_ID="The access key ID of your AWS account"
AWS_ACCOUNT_SECRET_ACCESS_KEY="The secret access key of your root AWS account"
ITEMS_TABLE_NAME="DynamoDB items table name"
ALGOLIA_ADMIN_KEY="Admin key for the Algolia application"
ALGOLIA_APP_ID="Algolia application ID"