@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* ------------- General --------------- */

:root {
    --darker-red: rgb(179, 0, 0);
    --darker-gray: gray;
    --lighter-gray: rgb(235, 235, 235);
    --lighter-blue: #006ce0;
    --darker-blue: #004794;
}

* {
    font-family: "Quicksand";
}

body {
    margin: 0;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    /* without this inline-start, it offsets the contents weirdly */
    padding-inline-start: 0;
    list-style-type: none;
}

.general-wrapper {
    margin: 30px auto;
    max-width: 1200px;
}

.general-button {
    font-size: 1.3em;
    font-weight: bold;

    color: white;
    background-color: var(--lighter-blue);
    border: none;
    border-radius: 5px;
}

.general-button:hover {
    background-color: var(--darker-blue);
}

.general-text-input {
    font-size: 0.95em;
    border: 2px solid black;
    border-radius: 6px;
    /* offset the text to the left a bit */
    padding-left: 10px;
}

.general-text-input:focus-visible {
    outline: none;
}

/* ------------- Navbar --------------- */

.navbar-wrapper {
    display: flex;
    justify-content: space-evenly;

    border-bottom: 3px solid var(--darker-red);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 700;
    padding: 0 160px;
    background-color: var(--darker-blue);
}

.navbar-spacer {
    width: 16em;
}

.navbar-button {
    margin-left: -77px;
    font-size: 0.99em;
}

.navbar-title {
    margin: 0;
    font-size: 1.9em;
}

.navbar-search {
    width: 300px;
    height: 30px;
}

.navbar-links ul {
    display: flex;
    align-items: center;
}

.navbar-links li {
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 15px;
}

.navbar-links li:not(:first-child) a:hover {
    /* Selects every Link/anchor except "Renting" */
    color: black;
}

.navbar-links a {
    color: white;
}

.navbar-logout-button {
    padding: 0;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--darker-blue);
}

.navbar-logout-button:hover {
    color: black;
}

/* ------------- Home --------------- */

.home {
    max-width: 1000px;
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

/* ------------- About --------------- */

.about-wrapper {
    max-width: 1000px;
    font-size: 3em;
}

.about-wrapper > p + p {
    /* Every paragraph preceded by a paragraph */
    margin-top: 35px;
}

.about-wrapper > *:last-child {
    /* The last paragraph */
    margin-bottom: 50px;
}

.title {
    text-align: center;
    color: var(--darker-red);
    font-weight: 900;
    font-size: 1.4em;
}

.about-me {
    margin: 20px 0 0;
    font-size: 0.68em;
    line-height: 1.4em;
}

.smaller {
    font-size: 0.52em;
}

/* ------------- Profile ------------- */

.dot {
    background: black;
    border-radius: 50%;
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
}

.rent-history-info {
    font-size: 0.9em;
}

.rent-history-wrapper {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 6px;
    min-height: 30px;

    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 30px;
}

/* ------------- Login ------------- */

.forgot-password {
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 20px;
}

/* ------------- ForgotPassword ------------- */

.remembered-password {
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 20px;
}

/* ------------- NewItem, UpdateItem ------------- */

.link-to-item {
    color: var(--darker-red);
}

/* ------------- Order ------------- */

.order-h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}

.payment-option {
    display: flex;
    justify-content: space-between;
}

.payment-option button {
    width: 45%;
    font-size: 1.2em;
}

/* ------------- ReviewOrder ------------- */

.review-order-attribute {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.review-order-wrapper {
    margin-bottom: 30px;
}

/* ------------- ItemPage (Single Item page) --------------- */

.item-page-wrapper {
    display: flex;
    justify-content: space-around;
}

.item-information {
    margin-left: 30px;
    width: 50%;
    padding-left: 20px;
    min-height: 420px;

    background-color: var(--lighter-gray);
    border-radius: 25px;
}

.item-page-wrapper h1 {
    font-size: 3em;
    margin-bottom: 0;
}

.item-page-wrapper h2 {
    font-size: 2.2em;
    margin-bottom: 5px;
    margin-top: 15px;
}

.item-page-wrapper span {
    font-size: 1.4em;
}

.item-images {
    width: 500px;
    height: 500px;
    border-radius: 25px;
}

.item-images img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border-radius: 25px;
}

.item-page-button {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    width: 150px;
    height: 45px;
    margin-right: 20px;
}

/* --- react-responsive-carousel --- */

.control-prev {
    /* Arrow for previous image */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.control-next {
    /* Arrow for next image */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.carousel .control-dots li.dot {
    /* Dots at the bottom of the images */
    width: 10px;
    height: 10px;
}

/* ------------- ListItems (all items page) --------------- */

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    gap: 20px;
}

.search-box {
    width: 450px;
    height: 30px;
    font-size: 1.4em;
}

.add-item-button {
    width: 270px;
    height: 40px;
    font-size: 1.6em;
}

.all-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 25px;
    background-color: var(--lighter-gray);

    width: 300px;
    min-height: 490px;
    margin: 30px auto;
}

.item-info {
    width: 250px;
    gap: 20px;
}

.item-info h2 {
    text-align: center;
    margin: 10px auto;
}

.item-info h4 {
    text-align: center;
    margin: 15px auto;
}

.item-box img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-top: 5px;
    border-radius: 10px;
}

/* ------------- Footer --------------- */

.footer {
    font-size: 1.1em;
    position: absolute;
    width: 100%;
    background-color: var(--darker-blue);
    font-weight: 700;
    border-top: 3px solid var(--darker-red);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: black;
}

.footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    gap: 10px;
}

/* ------------- Multiple components --------------- */

.component-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 600px;
    border-radius: 25px;
    font-size: 1.4em;
}

.component-wrapper > * {
    width: 65%;
}

.component-name {
    margin-bottom: 20px;
    text-align: center;
}

.component-info {
    display: flex;
    flex-direction: column;
}

.component-info label {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.15em;
}

.component-info input {
    height: 30px;
    margin-bottom: 30px;
    font-size: 0.85em;
}

.component-info textarea {
    margin-bottom: 30px;
    font-size: 0.85em;
    resize: vertical;
}

.component-button {
    margin-top: 5px;
    margin-bottom: 30px;
    height: 50px;
}

.after-component-wrapper-text {
    font-weight: 600;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 30px;
}

.forgot-password:hover,
.after-component-wrapper-text a:hover,
.remembered-password a:hover,
.link-to-item:hover {
    text-decoration: underline;
}

.border {
    border: 3px solid var(--darker-red);
}

.box-shadow {
    box-shadow: 5px 5px 5px var(--darker-gray);
}

.message {
    box-sizing: border-box;
    padding: 20px;

    width: 65%;
    border-radius: 6px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

.error {
    background-color: rgb(255, 50, 50, 0.75);
}

.success {
    background-color: rgba(44, 196, 39, 0.75);
}

.item-or-items-error {
    font-size: 2em;
    width: 45%;
    margin: 30px auto;
}

.loading {
    margin: 30px auto;
    font-size: 3em;
}

/* ------------- ErrorPage --------------- */

.error-page {
    max-width: 1200px;
    margin: 40px auto 30px auto;
    text-align: center;
}

.error-page > * {
    margin: 0;
    margin-bottom: 30px;
}

.error-page p {
    font-size: 1.3em;
    line-height: 1.6em;
}

.error-page-button {
    height: 50px;
    width: 300px;
}
