@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* ------------- General --------------- */

body {
    margin: 0;
    font-family: "Quicksand";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    border-style: hidden;
    border-radius: 5px;
    background: rgb(200, 202, 202);
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    /* without this inline-start, it offsets the contents weirdly */
    padding-inline-start: 0; 
    list-style-type: none;
}

/* ------------- Item(s) --------------- */

.loading {
    margin: 0 auto;
    font-size: 2.5em;
}

.all-items {
    max-width: 1200px;
    margin: 20px auto;

    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* gap: 20px; */
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-width: 2px;
    border-style: solid;
    border-color: maroon;
    border-radius: 10px;
    box-shadow: 3px 3px gray;

    width: 300px;
    min-height: 480px;
    /* top right bottom left */
    margin: auto auto 30px auto;
}

.item .item-info {
    width: 250px;
    gap: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item h2, .item h4 {
    margin: 8px auto;
}

.item img {
    width: 250px;
    height: 250px;
}

/* ------------- Footer --------------- */

.footer {
    font-size: 1.1em;
    position: absolute;
    width: 100%;
    background-color: lightgrey;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    gap: 9px;
}

.footer li {
    width: fit-content;
}

/* ------------- Home --------------- */

.home {
    max-width: 300px;
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

/* ------------- About --------------- */

.about {
    max-width: 300px;
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

/* ------------- Navbar --------------- */

.navbar-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(194, 61, 61);
    padding: 0 180px;
}

.navbar-text {
    font-family: "Quicksand";
    width: 260px;
    height: 30px;
    font-size: .9em;
    border: 1px solid rgb(34, 33, 33);
    border-radius: 6px;
    /* offset the text to the left a bit */
    padding-left: 10px;
}

.navbar-links ul {
    display: flex;
    align-items: center;
}

.navbar-links li {
    font-size: 1.2em;
    padding-left: 30px;
}

