@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* ------------- General --------------- */

body {
    margin: 0;
    background-color: rgb(218, 238, 255);
    font-family: "Quicksand";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    border-style: hidden;
    border-radius: 5px;
    background: rgb(200, 202, 202);
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    /* without this inline-start, it offsets the contents weirdly */
    padding-inline-start: 0; 
    list-style-type: none;
}

.general-button {
    font-family: "Quicksand";
    font-size: 1.3em;
    font-weight: bold;

    color: white;
    background-color:#007bff;
    border: none;
    border-radius: 5px;
}

.general-button:hover {
    background-color:#006ce0;
}

/* ------------- Navbar --------------- */

.navbar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(179, 0, 0);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 700;
    padding: 0 180px;
    background-color: #005ec2;
}

.navbar-wrapper a {
    color: rgb(238, 238, 238);
}

.navbar-input-text {
    font-family: "Quicksand";
    width: 260px;
    height: 30px;
    font-size: .9em;
    border: 2px solid rgb(34, 33, 33);
    border-radius: 6px;
    /* offset the text to the left a bit */
    padding-left: 10px;
}

.navbar-links ul {
    display: flex;
    align-items: center;
}

.navbar-links li {
    font-size: 1.2em;
    padding-left: 30px;
}

.navbar-links a:hover {
    color: black;
}

.navbar-input-text:focus-visible {
    outline: none;
}

/* ------------- Home --------------- */

.home {
    max-width: 300px;
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

/* ------------- About --------------- */

.about {
    max-width: 300px;
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

/* ------------- (Single) Item page --------------- */

.item-page-wrapper {
    max-width: 1200px;
    margin: 40px auto 30px auto;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.item-information {
    margin-left: 30px;
    width: 50%;
    padding-left: 20px;
    min-height: 420px;

    background-color:#e7e7e7;
    border: 3px solid rgb(179, 0, 0);
    border-radius: 10px;
    box-shadow: 4px 4px darkgray;
}

.item-page-wrapper h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.item-page-wrapper h2 {
    font-size: 1.8em;
}

.item-page-wrapper span {
    font-size: 0.8em;
    font-weight: normal;
}

.item-page-wrapper img {
    margin-left: 8%;
    max-width: 500px;
    max-height: 500px;
    background-color: white;

    border: 3px solid rgb(179, 0, 0);
    border-radius: 25px;
    box-shadow: 4px 4px darkgray;
}

.item-page-wrapper .item-page-button {
    /* position: relative;
    bottom: 5px; */
    margin-bottom: 0.9em;
    width: 150px;
    height: 45px;
}

/* ------------- List items (all items page) --------------- */

.loading {
    margin: 0 auto;
    font-size: 2.5em;
}

.all-items {
    max-width: 1200px;
    margin: 30px auto;

    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* gap: 20px; */
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid rgb(179, 0, 0);
    border-radius: 10px;
    box-shadow: 3px 3px gray;
    background-color: #d3d3d3;

    width: 300px;
    min-height: 480px;
    /* top right bottom left */
    margin: auto auto 30px auto;
}

.item-box .item-info {
    width: 250px;
    gap: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-box h2, .item-box h4 {
    margin: 8px auto;
}

.item-box img {
    width: 250px;
    height: 250px;
}

/* ------------- Footer --------------- */

.footer {
    font-size: 1.1em;
    position: absolute;
    width: 100%;
    background-color: lightgrey;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    justify-content: center;

    border-top: 2px solid rgb(179, 0, 0);
}

.footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    gap: 9px;
}

.footer a:hover {
    color: rgb(106, 158, 255);
}

/* ------------- Error page --------------- */

.error-page {
    max-width: 1200px;
    margin: 40px auto 30px auto;
    text-align: center;
}

.error-page > * {
    margin: 0;
    margin-bottom: 30px;
}

.error-page p {
    font-size: 1.3em;
    line-height: 1.6em;
}

.error-page-button {
    height: 50px;
    width: 300px;
}